<div class='google-oauth2-login-links'>
  Sign-in / Sign-up using:<br/>
  <a class='btn_google_auth2' href='/auth/google_oauth2'>
    <%= image_tag 'btn_google_dark_normal_ios.svg', :plugin => 'google_oauth2' %>
    <div>Google account</div>
  </a>
</div>
